.info_about_user__avatar {
    max-width: 150px;
}
.edit_mode_btn {
    padding-bottom: 15px;
}
.info_about_user {
    padding-top: 15px;
    padding-bottom: 15px;
}
.info_about_user__text {
    font-weight: bold;
}
.info_about_user input[type="file"] {
    transform: translate(30%, 0);
    color: transparent;
}
.user_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_avatar img {
    padding-bottom: 10px;
}
.user_status {
    display: flex;
}
.user_status_text {
    cursor: text;
    margin-right: 10px;
}
.avatar_name_user {
    display: flex;

    align-items: center;
    padding-bottom: 10px;
}
.profile_status {
    cursor: pointer;
}
