.App {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  background-color: rgb(164, 207, 218);
  max-width: 100%;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.main_content_wrapper {
  padding-left: 120px;
  width: calc(100%-120px);
}
