.dialogs_content {
    display: flex;
    background-color: white;
}

.dialogs_items {
    flex: 0 1 10%;

}

.dialogs_item {
    padding: 15px;
}

.dialogs_item_active {
    color: gold;
}

.dialog_messages {
    flex: 1 0 90%;
}

.dialog_message_item {
    padding: 10px;
}