.sidebar__menu {
    width: 100px;
    background-color: rgb(119, 228, 125);
    position: fixed;
}

.sidebar__item a {
    text-decoration: none;
    color: white;
}

.sidebar__item a.active_link {
    background-color: red;
    color: black;
}
